@import "/node_modules/bootstrap/scss/bootstrap.scss";

.Container{
  left: 0%;
  background-color: black;
  display: inline-block;

}
.Contactenos{
color: aliceblue;

  
}

.App{
max-width: 1550px;
width: 100%;
}