@import "/node_modules/bootstrap/scss/bootstrap.scss";

.Container{
    left: 0%;
    background-color: black, url("Fondo_negro.jpg");
    background-size: cover;
    overflow: hidden;

    

}
.Contactenos{
  color: aliceblue;

    
}

.App{
  max-width: 1550px;
  width: 100%;
}